<h1 class="text-center">Liste des produits</h1>

<!-- Filter Section -->
<div class="p-mb-3 p-input-container">
    <span class="p-input-icon-left">
        <input pInputText [(ngModel)]="filterText" (input)="onFilter()" placeholder="Filtrer par nom ou catégorie" />
    </span>
    <p-button icon="pi pi-times" [rounded]="true" [text]="true" severity="danger" (onClick)="onClearFilter()" /> 

</div>

<p-dataView #dv [value]="filteredProducts" [paginator]="true" [rows]="itemsPerPage" [first]="first" (onPage)="onPage($event)">
    <ng-template pTemplate="list" let-products>
        @for (product of products; track product) {
      
            <product-item [product]="product"></product-item>           
        }
    </ng-template>
</p-dataView>